<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MobileApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
				<key>dateExpires</key>
				<string>30/11/2022</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DigitalOTP.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DynKey.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SecureElement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>analytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ekycui.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8F8F9FFBC1E6F748014CC12775EEA3AE35D6C964</string>
						<key>dateExpires</key>
						<string>30/11/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>themis.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HR8KMXWN6N</string>
						<key>name</key>
						<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HR8KMXWN6N.com.mbbank.campodia</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HR8KMXWN6N</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MobileApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9e8ee230-0ce9-4b82-bac5-57d9c3767342</string>
				<key>dateExpires</key>
				<string>30/11/2022</string>
				<key>name</key>
				<string>Provisioning Profile MBCam new Prod</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HR8KMXWN6N</string>
				<key>name</key>
				<string>MILITARY COMMERCIAL JOINT STOCK BANK</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
